name: Run Black, ISort, Ruff

on:
  pull_request:
    branches: [develop, next, main]

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - name: Check out the code
        uses: actions/checkout@v4

      - name: Set up Python 3.11
        uses: actions/setup-python@v5
        with:
          python-version: 3.11

      - name: Install linters
        run: pip install black==22.3 isort==5.13.2 ruff==0.5.3

      - name: Run black
        run: black app tests --check
        if: always()

      - name: Run isort
        run: isort app tests --check-only
        if: always()

      - name: Run ruff
        run: ruff app tests
        if: always()
